/********** Base styles **********/
* {
  box-sizing: border-box;
}

/** HEADER **/
#header-nav {
  background-color: #333333;
  border-radius: 0;
  border: 0;
}

/*
.navbar-brand {
  padding-top: 25px;
}
*/

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#menu-categories-title {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  margin-bottom: 40px;
}

.row {
  margin: 5px;
  padding: 30px;
  background-color: #F3F3F3;
  border-radius: 10px;
}

.row h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.row p {
  font-family: 'Roboto', sans-serif;
}

/********** Large devices only **********/
@media (min-width: 992px) {	

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Small devices only **********/
@media (max-width: 767px) {
  #collapsable-nav {
  background-color: #f3f3f3;
  }
}